body {
    font-family: Raleway, Monaco, monospace;
    text-align: center;
    background-color: grey;
}

a {
    padding: 20px;
    margin: 0;
    color: white;
    background-color: black;
    text-decoration: none;
    border: solid;
    border-color: blue;
    transition: color 0.2s;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    animation-name: example;
    animation-duration: 10.0s;
    animation-iteration-count: infinite;
}
a:hover {
    z-index: 1;
}
a::after {
    position: absolute;
    content: no-close-quote ;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: white;
    background-color: darkgrey;
    transition:width 0.2s ease;
    z-index: -1;
}
a:hover::after {
    width: 100%;
}
.active {
    background-color: darkgrey;
    color: white;
}
@keyframes example {
    0%   {left:0; top:0;}
    33%  {left:300px; top:500px;}
    66%  {left:-300px; top:500px;}
    100%  {left:0; top:0;}
}